<p>orders works!</p>

<button type="button" class="btn btn-primary m-2 float-end" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addClick()">Add order</button>

<table class="table table-striped" >
<thead>
    <tr>
        <th>
           FechaOrden
        </th>
        <th>
            CustomerId
        </th>        
        <th>
            ValorOrden
        </th>
        <th>
            Detalle
        </th>
    </tr>
</thead>

<tbody>
<tr *ngFor="let dep of order">
    <td>{{dep.Id}}</td>
    <td>{{dep.FechaOrden}}</td>
    <td>{{dep.CustomerId}}</td>        
    <td>{{dep.ValorOrden}}</td>
    <td>
        <button type="button" class="btn btn-ligh mt-1" (click)="verDetalle(dep.Id)">
            Detalle
        </button>
    </td>
    <td>
        <button type="button" class="btn btn-ligh mt-1" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editClick(dep)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
              </svg>
        </button>
        
        <button type="button" class="btn btn-ligh mt-1" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editClick(dep)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
        </button>
        <button type="button" class="btn btn-ligh mt-1" (click)="deleteClick(dep.Id)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
        </button>

    </td>
</tr>

</tbody>
</table>


<!--ventana edicion e insercion-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class=" modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="input-group mb-3">
                    <span class="input-group-text">FechaOrden</span>
                    <input type="text" class="form-control" [(ngModel)]="FechaOrden">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">CustomerId</span>
                    <input type="text" class="form-control" [(ngModel)]="CustomerId">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">ValorOrden</span>
                    <input type="text" class="form-control" [(ngModel)]="ValorOrden">
                </div>


                <!--Btn Crear-->
                <button type="button" (click)="createClick()" *ngIf="Id==0" class="btn btn-primary">Create</button>

                <!--Btn Editar-->
                <button type="button" (click)="upDateClick()" *ngIf="Id!=0" class="btn btn-primary">UpDate</button>

                        
            </div>


        </div>
    </div>
</div>


